<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Grid Template</title>
    <link rel="stylesheet" href="../Template/stylesheet/w3c_grid_responsive_template.css">
</head>

<body>
    <div class="grid-container">
        <!-- Navbar -->
        <nav class="navbar">navigation
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="menu">
                <li><a href="#">home</a></li>
                <li><a href="#">band</a></li>
                <li><a href="#">tour</a></li>
                <li><a href="#">contact</a></li>
                <li class="more-view">
                    <a href="#">more <span style="font-size:11px;"> &#x25BC; </span></a>
                    <ul class="dropbox">
                        <li><a href="#">merchandise</a></li>
                        <li><a href="#">extras</a></li>
                        <li><a href="#">media</a></li>
                    </ul>
                </li>
                <li class="small-view"><a href="#">MERCH</a></li>
            </ul>
            <button type="submit" class="buttonn">
                <i class="fa fa-search"></i>
            </button>
        </nav>
        <!-- Automatic Slide-Show -->
        <div class="slider">
            <img src="../images/w3c_template/los_angeles.jpg" alt="Los Angeles" width="100%">
            <div class="text_slider">
                <h2>Los Angeles</h2>
                <h4> We had the best time playing at Venice Beach!</h4>
            </div>
        </div>
        <!-- Content -->
        <div class="content">
            <h1>
                THE BAND
            </h1>
            <h5>
                <i>
                    We love music
                </i>
            </h5>
            <p>
                We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
                do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="band_image">
                <div class="first">
                    <h4>
                        Name
                    </h4>
                    <img src="../images/w3c_template/band.jpg" alt="band1">
                </div>
                <div class="second">
                    <h4>
                        Name
                    </h4>
                    <img src="../images/w3c_template/band.jpg" alt="band2">
                </div>
                <div class="third">
                    <h4>
                        Name
                    </h4>
                    <img src="../images/w3c_template/band.jpg" alt="band3">
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="tour-dates">
            <div class="arrangement">
                <h3>
                    tour dates
                </h3>
                <p>
                    <i>
                        Remember to book your tickets!
                    </i>
                </p>
                <div class="whtbg">
                    <ul>
                        <li>September <sapn class="redbtn">Sold out</sapn>
                        </li>
                        <li>October <sapn class="redbtn">Sold out</sapn>
                        </li>
                        <li>November <button class="circle">3</button>
                        </li>
                    </ul>
                </div>
                <div class="img-box">
                    <div class="first_box">
                        <div class="image1">
                            <img src="../images/w3c_template/tour_newyork.jpg" alt="New York">
                        </div>
                        <div class="first_content">
                            <h4>New York</h4>
                            <h5>Sat 28 Nov 2016</h5>
                            <h5>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</h5>
                            <button class="btn_2">Buy Tickets</button>
                        </div>
                    </div>
                    <div class="second_box">
                        <div class="image1">
                            <img src="../images/w3c_template/tour_paris.jpg" alt="Paris">
                        </div>
                        <div class="second_content">
                            <h4>Paris</h4>
                            <h5>Sat 28 Nov 2016</h5>
                            <h5>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</h5>
                            <button class="btn_2">Buy Tickets</button>
                        </div>
                    </div>
                    <div class="third_box">
                        <div class="image1">
                            <img src="../images/w3c_template/tour_san-francisco.jpg" alt="San Francisco York">
                        </div>
                        <div class="third_content">
                            <h4>San Francisco</h4>
                            <h5>Sun 29 Nov 2016</h5>
                            <h5>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</h5>
                            <button class="btn_2">Buy Tickets</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact -->
        <div class="contact-us">
            <div class="contact">
                <h1>CONTACT</h1>
                <p>Fan? Drop a note!</p>
            </div>
            <div class="conta">
                <div class="iconbar">
                    <i class="fas fa-map-marker-alt" style="width: 20px;">
                    </i>
                    <span style="font-size: 16px; margin: 10px;"> Chicago, US</span>
                    <br><br>
                    <i class="fas fa-phone-volume" style="width: 20px;">
                    </i>
                    <span style="font-size: 16px; margin: 10px;"> Phone: +00 151515</span>
                    <br><br>
                    <i class="fa fa-envelope" style="width: 20px;">
                    </i>
                    <span style="font-size: 16px; margin: 10px;"> Email: mail@mail.com</span>
                </div>
                <div class="form_fill">
                    <input type="text" class="fname" for="first_name" placeholder="Name">
                    <input type="text" class="email" for="email" placeholder="Email">
                    <input type="text" class="message" for="message" placeholder="Message">
                    <button class="send">
                        Send
                    </button>
                </div>
            </div>
        </div>
        <footer class="footer">
            <img src="../images/w3c_template/footer_map.jpg" width="100%;">
            <div class="last-foot">
                <span class="icon">
                    <i class="fa fa-facebook-official"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-snapchat"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </span>
                <p class="last"> Powered by
                    <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
                </p>
            </div>
        </footer>
    </div>

</body>

</html>